main {
    min-height: calc(100vh - 100px);
    background-color: $brand_secondary;
}

.filter-genre {
    padding-top: 50px;
    text-align: center;

    select {
        padding: 5px;
    }
}

.albums {
    display: flex;
    flex-wrap: wrap;
}

.album {
    flex-basis: calc((100% / 4) - 50px);
    margin: 50px 25px 0 25px;
    background-color: $brand_primary;
    color: white;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    .poster {
        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
    }

    .info {
        padding: 20px;

        .title {
            margin-bottom: 10px;
            font-size: 20px;
        }
    }
}
